## File di IntelliJ
build/
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

## File Secrets
src/main/resources/application.properties

## File di run di Gradle che si ricreano in automatico
.gradle
gradlew.bat
gradlew
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
