.card-columns .card {
  flex-basis: 100%;
}

@media {
  .card-columns .card {
    flex-basis: calc(50% - 30px);
  }
}

@media  {
  .card-columns .card {
    flex-basis: calc(33.33% - 30px);
  }
}

@media {
  .card-columns .card {
    flex-basis: calc(25% - 30px);
  }
}
