{{> head}}

<body>

{{> ph-navbar }}

<!-- CONTENUTI -->
<div class="container">
    <div class="card" style="margin-top: 20px; margin-bottom: 20px;" style=" margin-bottom: 20px;">
        <div class="card-body">
            <center>
                <h4 class="card-title">Informazioni su Bookfinder</h4>
                <p>L'idea del sito è partita verso la fine del 2021, dopo aver scelto come compito di classe per l'Alternanza Scuola Lavoro quella di creare un progetto utile sia per il suo scopo che per una nostra esperienza personale nello sviluppo di siti HTML responsive, moderni ed efficienti.</p>
                <p>
                    Per la creazione del progetto ci siamo serviti di parecchio tempo speso tra la programmazione dell'impalcatura del sito e la grafica
                </p>
            </center>
            <p>
                Il sito ti permette di visualizzare innumerevoli pagine con funzioni ben definite, la pagina iniziale è un'introduzione alle funzionalità essenziali del sito, riassumendo tutto quello che si può fare
            </p>
            <p>
                Una volta fatto l'accesso tramite la propria email istituzionale (e quindi superata la home) si avrà l'accesso alla dashboard, da cui si può accedere a tutte le altre pagine ed utilizzare dei filtri rapidi per cercare il libro che si vuole acquistare, le pagine a cui puoi fare l'accesso sono :
            </p>
            </center>
            <ul>
                <li><b>Home:</b> torni alla pagina home del sito</li>
                <li><b>Ricerca:</b> ti spedisce ad una pagina con vari filtri disponibili che permette la ricerca specifica di un libro</li>
                <li><b>Messaggi:</b> vai ad una pagina che ti permette di inviare dei messaggi ai venditori per mettersi d'accordo sull'acquisto di un libro</li>
                <li><b>Carica libro:</b> una pagina in cui puoi mettere un annuncio con in vendita i tuoi libri che non utilizzi più</li>
            </ul>
            <center>
                <p>Il sito invierà una mail diretta personalizzata al venditore in caso di risposta all'annuncio pubblicato</p>
            </center>
        </div>
    </div>
</div>


<!-- PLACEHOLDER DEL FOOTER -->
{{> footer}}

</script>
</body>

</html>