<!DOCTYPE html>
<html lang="it">

<head>

    <!-- FORMATTAZIONE DEFAULT -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Chi siamo | Bookfinder</title>
    <meta name="description" content="Informazioni sul sito, il suo sviluppo e considerazioni future">

    <!-- FAVICONS E MANIFST -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-icon-180x180.png">
    <link rel="icon" href="/assets/favicons/favicon-96x96.png" type="image/x-icon">
    <meta property="og:type" content="website">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/assets/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#343A40">

    <!-- REFERENZE BOOSTRAP -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>

    <!-- STILE GENERALE -->
    <link rel="stylesheet" href="assets/css/styles.css">

    <!-- STILE FOOTER E NAVBAR -->
    <link rel="stylesheet" href="assets/css/footer.css">
    <link rel="stylesheet" href="assets/css/navbar.css">
    <link rel="stylesheet" href="assets/css/dropdown.css">

    <!-- STILE PER IL TEAM -->
    <link rel="stylesheet" href="assets/css/team.css">

</head>

<body>

{{> ph-navbar }}

<!-- CONTENUTI -->
<div class="container">
    <div class="card" style="margin-top: 20px; margin-bottom: 20px;" style=" margin-bottom: 20px;">
        <div class="card-body">
            <center>
                <h4 class="card-title">Informazioni su Bookfinder</h4>
                <p>L'idea del sito è partita verso la fine del 2021, dopo aver scelto come compito di classe per l'Alternanza Scuola Lavoro quella di creare un progetto utile sia per il suo scopo che per una nostra esperienza personale nello sviluppo di siti HTML responsive, moderni ed efficienti.</p>
                <p>
                    Per la creazione del progetto ci siamo serviti di parecchio tempo speso tra la programmazione dell'impalcatura del sito e la grafica
                </p>
            </center>
            <p>
                Il sito ti permette di visualizzare innumerevoli pagine con funzioni ben definite, la pagina iniziale è un'introduzione alle funzionalità essenziali del sito, riassumendo tutto quello che si può fare
            </p>
            <p>
                Una volta fatto l'accesso tramite la propria email istituzionale (e quindi superata la home) si avrà l'accesso alla dashboard, da cui si può accedere a tutte le altre pagine ed utilizzare dei filtri rapidi per cercare il libro che si vuole acquistare, le pagine a cui puoi fare l'accesso sono :
            </p>
            </center>
            <ul>
                <li><b>Home:</b> torni alla pagina home del sito</li>
                <li><b>Ricerca:</b> ti spedisce ad una pagina con vari filtri disponibili che permette la ricerca specifica di un libro</li>
                <li><b>Messaggi:</b> vai ad una pagina che ti permette di inviare dei messaggi ai venditori per mettersi d'accordo sull'acquisto di un libro</li>
                <li><b>Carica libro:</b> una pagina in cui puoi mettere un annuncio con in vendita i tuoi libri che non utilizzi più</li>
            </ul>
            <center>
                <p>Il sito invierà una mail diretta personalizzata al venditore in caso di risposta all'annuncio pubblicato</p>
            </center>
        </div>
    </div>
</div>


<!-- PLACEHOLDER DEL FOOTER -->
{{> footer}}

</script>
</body>

</html>