{{> head}}

<body>
{{> ph-navbar}}
<center>
    <div class="container" style="margin-top: 50px; margin-bottom: 100px">
        <div class="card">
            <div class="card-body">
                <img id="randImg" alt="Emoji di errore!" style="margin-bottom: 15px;"></img>
                <h4 class="card-title" style="font-size: 50px;">Oops!</h4>
                <h4 class="subtitle">C'è stato un errore nell'elaborazione della richiesta...</h4>
                <p class="card-text">{{error.code}}: {{error.descr}}</p>
                <a class="card-link" href="/index">Torna alla home page</a>
            </div>
        </div>
    </div>
</center>
<script>
    $(function() {
        $("#ph-navbar").load("assets/snippets/navbar-in.html");
    });

</script>
<!-- Carica un'emoji casuale ad ogni load -->
<script type="text/javascript">
    const images = ["/assets/img/emoji/sad.webp",
        "/assets/img/emoji/cowboy.webp",
        "/assets/img/emoji/luck.webp",
        "/assets/img/emoji/magnifier.webp",
        "/assets/img/emoji/man.webp",
        "/assets/img/emoji/woman.webp",
        "/assets/img/emoji/omg.webp",
        "/assets/img/emoji/skull.webp",
        "/assets/img/emoji/what.webp",
        "/assets/img/emoji/woozy.webp",
        "/assets/img/emoji/zip.webp",
        "/assets/img/emoji/poop.webp",
        "/assets/img/emoji/bandage.webp",
        "/assets/img/emoji/hot.webp",
        "/assets/img/emoji/cold.webp",
        "/assets/img/emoji/clown.webp",
        "/assets/img/emoji/spiral.webp",
        "/assets/img/emoji/cloudy.webp",
        "/assets/img/emoji/runner.webp",
        "/assets/img/emoji/wuaio.webp"
    ];

    document.addEventListener('DOMContentLoaded', _ => {
        const randImageIndex = ~~(Math.random() * images.length);
        document.getElementById('randImg').src = images[randImageIndex];
    });

</script>
{{> footer}}
</body>
</html>