<div class="card">
    <div class="card-title">
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-auto">
                <img alt="ImmagineProfilo" src="assets/img/general/tab.webp" class="rounded-circle"
                     style="width: 80px; box-shadow: 0 0 20px 7px rgba(0,0,0,0.1)">
            </div>
            <div class="col-auto">
                <font size="5">Leoni Nicola</font>
                <br>
                <br>
                <font size="4">Testo messaggio...</font>
            </div>
            <div class="col">
                <div class="float-right">
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#infoButton"
                            style="width:100px"><font size="5"><i class="fas fa-question"></i></font></button>
                </div>
            </div>
        </div>
    </div>
</div>

