{{> head}}

<body data-aos-easing="ease" data-aos-duration="750" data-aos-delay="200" cz-shortcut-listen="true" style="overflow-x: hidden;">

<!-- PLACEHOLDER DELLA NAVBAR -->
{{> ph-navbar}}

<!-- HEADER PRINCIPALE -->
<div class="sfondo">
    <div class="text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <main role="main" class="inner cover">
                <h1 class="cover-heading" style="text-shadow: 18px 11px 22px rgba(130,130,130, 1);">Immagina un sito dove compri e vendi libri scolastici usati senza commissioni.</h1>
                <p style="text-shadow: 18px 11px 22px rgba(130,130,130, 1);">Con Bookfinder, non ti serve immaginare. Accedi ora per iniziare a consultare gli annunci.</p>
                <p style="text-shadow: 18px 11px 22px rgba(130,130,130, 1);">Release: <a href="https://github.com/Spoilers-TN/Bookfinder-Kotlin/releases/tag/2022.8.16"></a>2022.8.16</p>
                <p class="lead">
                    <a class="btn btn-lg btn-warning action-button" role="button" href="google-login" style="padding-top: 8px;padding-bottom: 8px;padding-right: 14px;padding-left: 14px;"><i class="far fa-user"></i>&nbsp;Accedi con Google</a>
                </p>
            </main>

        </div>

        <!-- TASTO INSTALLA -->
        <div class="d-sm-none align-self-end">
            <button class="btn btn-lg btn-light action-button" data-toggle="modal" data-target="#installa"><i class="fas fa-mobile-alt"></i> Installa</button>
        </div>


        <!-- MODAL -->
        <div class="modal fade" id="installa" tabindex="-1" aria-labelledby="installare" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="installare">Che dispositivo utilizzi?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-link active" id="nav-ios-tab" data-toggle="tab" href="#nav-ios" role="tab" aria-controls="nav-ios" aria-selected="true">IOS</a>
                                <a class="nav-link" id="nav-android-tab" data-toggle="tab" href="#nav-android" role="tab" aria-controls="nav-android" aria-selected="false">Android</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-ios" role="tabpanel" aria-labelledby="nav-ios-tab">
                                <br>
                                <p class="text">Puoi installare l'applicazione di BookFinder seguendo questi semplici passaggi. Per prima cosa premi sul tasto condividi in fondo alla pagina su Safari</p>
                                <img src="/assets/img/install/ios/share.webp">
                                <br>
                                <p class="text">Premi poi "Aggiungi alla schermata Home" nel pannello di condivisione di iPhone</p>
                                <img src="/assets/img/install/ios/homeadd.webp">
                                <br>
                                <p class="text">Si aprirà un pop-up che chiede conferma dell'operazione. Dopo aver premuto aggiungi avrai Bookfinder disponibile sulla schermata Home</p>
                                <img src="/assets/img/install/ios/popup.webp">
                            </div>
                            <div class="tab-pane fade" id="nav-android" role="tabpanel" aria-labelledby="nav-android-tab">
                                <br>
                                <p class="text">Puoi installare l'applicazione di BookFinder seguendo questi semplici passaggi. Per prima cosa premi sui 3 puntini in alto su Chrome.</p>
                                <img src="/assets/img/install/android/bar.webp">
                                <br>
                                <p class="text">Premi poi su "Aggiungi alla schermata Home".</p>
                                <img src="/assets/img/install/android/addhome.webp">
                                <br>
                                <p class="text">Si aprirà un pop-up che chiede conferma dell'operazione. Premi poi su Aggiungi</p>
                                <img src="/assets/img/install/android/confirm.webp">
                                <br>
                                <p class="text">Conferma l'ultima operazione.</p>
                                <img src="/assets/img/install/android/lastadd.webp">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Installa</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<!-- SEZIONE "COME FUNZIONA" -->
<section id="come-funziona" style="padding-top: 15px; padding-bottom: 15px">
    <div class="container">
        <div class="row">
            <div class="col col-auto"><img class="img-fluid" src="/assets/img/index/vendi.webp" alt="Immagine vendita" style="max-width: 200px; padding-bottom: 30px; padding-top: 30px"></div>
            <div class="col text-right text-sm-center align-self-center">
                <h1>Compra o vendi libri</h1>
                <p style="font-size: 24px;">Grazie a Bookfinder puoi accordarti con il venditore o il compratore per l'acquisto del libro! La privacy è garantita grazie al sistema di richieste.</p>
            </div>
        </div>
    </div>
</section>

<!-- CLASSE ACCESSO -->
<section style="background: #F6F6F6; padding-top: 15px; padding-bottom: 15px">
    <div class="container">
        <div class="row">
            <div class="col text-left text-sm-center align-self-center aos-init aos-animate" data-aos-once="true" data-aos="slide-right" data-aos-duration="300">
                <h1>Log-In facile e veloce</h1>
                <p style="font-size: 24px;">Per accedere a Bookfinder non ti basterà far altro che usare la tua email d'istituto tramite Google e sarai nel sito in tempo zero. I venditori sono tutti studenti di una scuola superiore!</p>
            </div>
            <div class="col col-auto"><img src="/assets/img/index/scuola.webp" class="img-fluid" data-aos-once="true" data-aos="slide-left" alt="Immagine scuola" style="max-width: 200px; padding-bottom: 30px; padding-top: 30px"></div>
        </div>
    </div>
</section>

<!-- CLASSE RECENSIONE -->
<section style="padding-top: 15px; padding-bottom: 15px">
    <div class="container">
        <div class="row">
            <div class="col col-auto"><img src="/assets/img/index/recensione.webp" class="img-fluid" data-aos-once="true" data-aos="slide-right" alt="Immagine utente" style="max-width: 200px; padding-bottom: 30px; padding-top: 30px"></div>
            <div class="col text-right text-sm-center align-self-center" data-aos="slide-left" data-aos-once="true">
                <h1>Venditori affidabili</h1>
                <p style="font-size: 24px;">Grazie al sistema delle recensioni puoi sapere subito se il venditore è affidabile o meno, puoi lasciare dei feedback a fine acquisto anche tu!</p>
            </div>
        </div>
    </div>
</section>

<!-- CLASSE PRIVACY -->
<section style="background: #F6F6F6; padding-top: 15px; padding-bottom: 15px">
    <div class="container">
        <div class="row">
            <div class="col text-left text-sm-center align-self-center aos-init aos-animate" data-aos="slide-right" data-aos-once="true">
                <h1>Privacy Garantita</h1>
                <p style="font-size: 24px;">Grazie al sistema di richieste la privacy è garantita. Inoltre il successivo scambio di messaggi avviene via mail senza che Bookfinder possa accedere ai tuoi messaggi.</p>
            </div>
            <div class="col col-auto"><img src="/assets/img/index/privacy.webp" class="img-fluid" data-aos-once="true" data-aos="slide-left" alt="Immagine della privacy" style="max-width: 200px; padding-bottom: 30px; padding-top: 30px"></div>
        </div>
    </div>
</section>

<!-- CLASSE STUDENTI X STUDENTI -->
<section style="padding-top: 15px; padding-bottom: 15px">
    <div class="container">
        <div class="row">
            <div class="col col-auto"><img src="/assets/img/index/studenti.webp" class="img-fluid" data-aos-once="true" data-aos="slide-right" alt="Immagine che raffigura degli studenti" style="max-width: 200px; padding-bottom: 30px; padding-top: 30px"></div>
            <div class="col text-right text-sm-center align-self-center" data-aos="slide-left" data-aos-once="true">
                <h1>Sito creato da studenti per gli studenti</h1>
                <p style="font-size: 24px;">Il sito è stato pensato e ideato da una classe di studenti nell'abito del progetto di Cooperativa Formativa Scolastica, "Spoilers".</p>
            </div>
        </div>
    </div>
</section>

<!-- LICENZA ICONE -->
<br>
<p style="color: #405060; text-align: center">Icone fornite da Flaticon.com</p>
<br>
<!-- PLACEHOLDER DEL FOOTER -->
{{> footer}}

<!-- SCRIPT PER INIZIALIZZARE AOS -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>

</body>
</html>