{% include "head.html" %}

<body>

{% if logged == false %}
{% include "unlogged-navbar.html" %}
{% else %}
{% include "logged-navbar.html" %}
{% endif %}

<!-- CONTENUTI -->
<div class="container" style="margin-top: 45px; margin-bottom: 20px">
    <div class="row">
        <div class="col">
            <p>Il tuo annuncio apparirà così bli:</p>
        </div>
        <div class="col col-auto">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#pubblicaAnnuncio">Pubblica
                annuncio
            </button>
            <!-- Modal -->
            <div class="modal fade" id="pubblicaAnnuncio" tabindex="-1" aria-labelledby="caricaAnnunico"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="caricaAnnunico">Carica annuncio</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">Sei sicuro di voler pubblicare l'annuncio?</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                            <a class="btn btn-warning" href="/dashboard">Sì</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-bottom: 50px">
    <div class="card">
        <div class="card-body">
            <div class="container justify-items-center" style="justify-items: center;">
                <h2>Compila tramite ISBN</h2>
                <p>Tramite l'ISBN i campi verranno automaticamente compilati. ✨</p>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Codice ISBN"
                           aria-label="Inserire l'ISBN del Libro" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-warning" type="button">Carica</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container" style="margin-bottom: 50px">
    <div class="card">
        <div class="card-body">
            <div class="container">
                <!-- Le info seguenti devono essere autocompilate in base all'ISBN - per programmatori -->
                <div class="row">
                    <div class="col-md-3"><img alt="antologia" class="img-fluid"
                                               src="/assets/img/general/antologia.webp"></div>
                    <div class="col">
                        <h4 class="card-title">Letteratura e Storia Italiana terza edizione</h4>
                        <div class="row">
                            <div class="col">
                                <p class="subtitle">Autore: </p>
                                <p class="subtitle">Anno di pubblicazione: </p>
                                <p class="subtitle">Casa editrice: </p>
                                <p class="subtitle">Codice ISBN: </p>
                            </div>
                            <div class="col">
                                <p class="subtitle">Data di pubblicazione: </p>
                                <p class="subtitle">Versione digitale: </p>
                                <p class="subtitle">Prezzo: </p>
                            </div>
                        </div>
                        <label>Descrizione dello stato del libro:
                        </label>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container" style="margin-bottom: 50px">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col text-center" style="margin-bottom: 20px">
                    <img class="img-thumbnail" src="/assets/img/categorie/antologia.webp"
                         style="max-height: 230px;min-height: 230px;"/>
                    <img class="img-thumbnail" src="/assets/img/categorie/antologia.webp"
                         style="max-height: 230px;min-height: 230px;"/>
                    <img class="img-thumbnail" src="/assets/img/categorie/antologia.webp"
                         style="max-height: 230px;min-height: 230px;"/>
                    <img class="img-thumbnail" src="/assets/img/categorie/antologia.webp"
                         style="max-height: 230px;min-height: 230px;"/>
                    <!-- VA COMPILATO -->
                </div>
            </div>
            <div class="container">
                <!-- Le info seguenti devono essere autocompilate in base all'ISBN - per programmatori -->
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">Compila accuratamente questi dettagli</h5>
                        <br>
                        <div class="row">
                            <div class="col-5">
                                <button type="button" class="btn btn-outline-warning dropdown-toggle"
                                        style="width: 100%" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">Scegli Materia
                                </button>
                                <div class="dropdown-menu scrollable-menu" style="width: 90%" role="menu">
                                    <a class="dropdown-item" href="#">Antologia</a>
                                    <a class="dropdown-item" href="#">Architettura</a>
                                    <a class="dropdown-item" href="#">Arte</a>
                                    <a class="dropdown-item" href="#">Chimica</a>
                                    <a class="dropdown-item" href="#">Diritto e Economia</a>
                                    <a class="dropdown-item" href="#">Dizionari e Enciclopedie</a>
                                    <a class="dropdown-item" href="#">Elettrotecnica</a>
                                    <a class="dropdown-item" href="#">Filosofia</a>
                                    <a class="dropdown-item" href="#">Geografia</a>
                                    <a class="dropdown-item" href="#">Ginnastica</a>
                                    <a class="dropdown-item" href="#">Grammatica</a>
                                    <a class="dropdown-item" href="#">Informatica</a>
                                    <a class="dropdown-item" href="#">Ingegneria</a>
                                    <a class="dropdown-item" href="#">Inglese</a>
                                    <a class="dropdown-item" href="#">Lingue Storiche</a>
                                    <a class="dropdown-item" href="#">Matematica</a>
                                    <a class="dropdown-item" href="#">Musica</a>
                                    <a class="dropdown-item" href="#">Poesia</a>
                                    <a class="dropdown-item" href="#">Religione</a>
                                    <a class="dropdown-item" href="#">Storia</a>
                                    <a class="dropdown-item" href="#">Altro</a>
                                    <div class="dropdown-divider"></div>
                                </div>
                            </div>
                            <div class="col-4">
                                <input type="versioneDigitale" class="form-control" placeholder="Versione digitale">
                            </div>
                            <div class="col-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">€</span>
                                    </div>
                                    <input type="number" class="form-control"
                                           aria-label="Amount (to the nearest dollar)">
                                </div>
                            </div>
                        </div>
                        <label>Descrizione dello stato del libro</label>
                        <div class="form-group">
                            <input type="text" class="form-control" rows="3" id="stato"
                                   placeholder="Condizioni del libro">
                        </div>
                        <br>
                        <button class="btn btn-warning" margin="auto"><i class="fas fa-upload"></i><font size="3">
                            Allega immagini</font></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}
</body>
</html>