{% include "head.html" %}

<body>

{% if logged == false %}
{% include "unlogged-navbar.html" %}
{% else %}
{% include "logged-navbar.html" %}
{% endif %}

<!-- CONTENUTI -->
<br>
<div class="container" style="margin-top: 25px">
    <div class="row">
        <div class="col-auto">
            <!--<font size="5">Messaggi inviati</font>-->
            <h2>Messaggi inviati</h2>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 25px; margin-bottom: 25px">
    {% include "incomingMessage.html" %}
</div>
    {% include "outgoingMessage.html" %}
{% include "footer.html" %}
</body>
</html>