{% include "head.html" %}

<body>

{% if logged == false %}
{% include "unlogged-navbar.html" %}
{% else %}
{% include "logged-navbar.html" %}
{% endif %}

<!-- CONTENUTI -->
<div class="container" style="margin-top: 50px; margin-bottom: 100px">
    <div class="card">
        <div class="card-body">

            <body>
            <center>
                <h1>Informativa sulla privacy</h1>
                <p>Data di entrata in vigore: 2022-03-21<br>
                    Ultimo aggiornamento: 2022-08-7</p>
            </center>
            <p>
                La presente Informativa sulla privacy spiega le politiche di Cooperativa formativa scolastica Spoilers
                sulla
                raccolta e l'uso delle informazioni che raccogliamo quando accedi a spoilers.tn.it (il "Servizio"). La
                presente Informativa
                sulla privacy descrive i tuoi diritti e in che maniera sei protetto dalle leggi sulla privacy.
            </p>
            <p>
                Utilizzando il nostro Servizio, acconsenti alla raccolta e all'utilizzo delle tue informazioni
                in conformità con la presente Informativa sulla privacy. Ti preghiamo di non accedere o utilizzare il
                nostro Servizio se
                non acconsenti alla raccolta e all'utilizzo delle informazioni come indicato nella presente Informativa
                sulla privacy. La
                presente Informativa sulla privacy è stata creata con l'aiuto del <a target='_blank'
                                                                                     href='https://cookie-script.com/privacy-policy-generator'>Generatore
                di informative sulla privacy di CookieScript</a>.
            </p>
            <p>Cooperativa formativa scolastica Spoilers è autorizzata a modificare la presente Informativa sulla
                privacy in qualsiasi momento. Questo può avvenire senza preavviso.</p>
            <p>
                Cooperativa formativa scolastica Spoilers pubblicherà l'Informativa sulla privacy modificata sul sito
                web spoilers.tn.it.
            </p>
            <center>
                <h3>Raccolta e utilizzo delle tue informazioni personali</h3>
                <h4>Informazioni raccolte</h4>
            </center>
            <p>
                Quando utilizzi il nostro Servizio, ti verrà richiesto di fornirci delle informazioni personali
                utilizzate per contattarti o identificarti. spoilers.tn.it raccoglie le seguenti informazioni:
            </p>
            <ul>
                <li>ID OAuth Google</li>
                <li>Nome</li>
                <li>Stato</li>
                <li>E-mail</li>
                <li>Dati di utilizzo</li>
            </ul>
            <p>I dati di utilizzo includono quanto segue:</p>
            <ul>
                <li>Richieste di pagine web</li>
                <li>Ora e data di accesso</li>
            </ul>
            <center>
                <h4>Come raccogliamo le informazioni</h4>
            </center>
            <p>
                spoilers.tn.it raccoglie e riceve informazioni da parte tua nelle seguenti modalità:
            </p>
            <ul>
                <li>Quando compili un modulo di registrazione o invii le tue informazioni personali in altro modo.</li>
                <li>Quando interagisci con il nostro Servizio.</li>
                <li>Da fonti pubbliche esterne.</li>
            </ul>
            <p>
                Le tue informazioni saranno conservate per un massimo di 10 giorni dopo la chiusura del tuo account. Le
                tue informazioni possono essere conservate per periodi più lunghi per il
                reporting o per scopi di registrazione in conformità con le leggi applicabili. Le informazioni che non
                ti identificano
                personalmente possono essere conservate a tempo indeterminato.
            </p>
            <center>
                <h4>Come usiamo le tue informazioni</h4>
            </center>
            <p>
                spoilers.tn.it può utilizzare le tue informazioni per i seguenti scopi:
            </p>
            <ul>
                <li><b>Fornire e mantenere il nostro Servizio,</b> così come monitorare l'utilizzo del nostro Servizio.
                </li>
                <li><b>Per altri scopi.</b> Cooperativa formativa scolastica Spoilers userà le tue informazioni per
                    l'analisi dei dati per identificare le tendenze di utilizzo o determinare l'efficacia delle nostre
                    campagne di marketing, quando ragionevole. Useremo le tue informazioni per valutare e migliorare il
                    nostro Servizio, i prodotti, i servizi e le attività di marketing.
                </li>
                <li><b>Gestire il tuo account.</b> I tuoi dati personali possono consentire l'accesso a molteplici
                    funzioni del nostro Servizio che sono disponibili per gli utenti registrati.
                </li>
                <li><b>Per contattarti.</b> Cooperativa formativa scolastica Spoilers ti contatterà via e-mail,
                    telefono, SMS, o un'altra forma di comunicazione elettronica in merito a funzioni, prodotti,
                    servizi, o aggiornamenti di sicurezza, se necessario o ragionevole.
                </li>
                <li><b>Per aggiornarti</b> con notizie, informazioni generali, offerte speciali, nuovi servizi ed
                    eventi.
                </li>
                <li><b>Raccolta di testimonianze e feedback dei clienti.</b> Se condividi una testimonianza o una
                    recensione sulla tua esperienza utilizzando il nostro Servizio, questa sarà condivisa o utilizzata
                    in altro modo sul sito web.
                </li>
                <li><b>Per l'esecuzione di un contratto.</b> I tuoi dati personali saranno impiegati nello sviluppo,
                    nell'esecuzione e nell'adempimento di un contratto di acquisto di prodotti o servizi che hai
                    acquistato attraverso il nostro Servizio.
                </li>
                <li><b>Commenti da utente a utente.</b> Le tue informazioni, come il tuo nome utente, l'immagine
                    personale o l'indirizzo e-mail, saranno visibili al pubblico quando pubblichi commenti da utente a
                    utente.
                </li>
            </ul>
            <center>
                <h4>Come condividiamo le tue informazioni</h4>
            </center>
            <p>
                Cooperativa formativa scolastica Spoilers condividerà le tue informazioni, se del caso, nelle seguenti
                situazioni:
            </p>
            <ul>
                <li><b>Con il tuo consenso.</b> Cooperativa formativa scolastica Spoilers condividerà le tue
                    informazioni per qualsiasi scopo con il tuo esplicito consenso.
                </li>
                <li><b>Condivisione con altri utenti.</b> Le informazioni fornite possono essere viste da altri utenti
                    del nostro Servizio. Interagendo con altri utenti o registrandoti attraverso un servizio di terze
                    parti, come un servizio di social media, i tuoi contatti sul servizio di terze parti possono vedere
                    le tue informazioni e una descrizione della tua attività.
                </li>
            </ul>
            <center>
                <h4>Condivisione con terze parti</h4>
            </center>
            <p>
                Qualsiasi terza parte con cui condividiamo le tue informazioni deve rivelare lo scopo per cui intende
                utilizzare le tue informazioni. Deve conservare le tue informazioni solo per la durata rivelata al
                momento della richiesta o della ricezione di tali informazioni. Il terzo fornitore di servizi non deve
                raccogliere, vendere o utilizzare ulteriormente le tue informazioni personali se non nella misura
                necessaria per eseguire lo scopo specificato.
            </p>
            <p>Le tue informazioni possono essere condivise con una terza parte per ragioni che includono:</p>
            <ul>
                <li>Google OAuth</li>
            </ul>
            <p>
                Se scegli di fornire tali informazioni durante la registrazione o in altro modo, stai dando a
                Cooperativa formativa scolastica Spoilers il permesso di utilizzare, condividere e memorizzare tali
                informazioni in conformità con questa Informativa sulla privacy.
            </p>
            <p>Le tue informazioni possono essere divulgate per altri motivi, tra cui:</p>
            <ul>
                <li>Conformità con le normative, i regolamenti o le ingiunzioni applicabili.</li>
                <li>Risposta a reclami sul tuo uso del nostro Servizio violando diritti di terzi.</li>
                <li>Rispetto degli accordi stipulati con noi, compresa la presente Informativa sulla privacy.</li>
            </ul>
            <center>
                <h4>Cookie</h4>
            </center>
            <p>
                I cookie sono piccoli file di testo che vengono collocati sul tuo computer dai siti web che visiti. I
                siti web utilizzano i cookie per aiutare gli utenti a navigare in modo efficiente ed eseguire
                determinate funzioni. I cookie che sono necessari per il corretto funzionamento del sito web possono
                essere impostati senza il tuo permesso. Tutti gli altri cookie devono essere approvati prima di essere
                impostati nel browser.
            </p>
            <ul>
                <li><b>Cookie strettamente necessari.</b> I cookie strettamente necessari consentono le funzionalità
                    principali del sito web come l'accesso dell'utente e la gestione dell'account. Il sito web non può
                    essere utilizzato correttamente senza i cookie strettamente necessari.
                </li>
            </ul>
            <center>
                <h4>Sicurezza</h4>
            </center>
            <p>
                La sicurezza delle tue informazioni è importante per noi. spoilers.tn.it utilizza una serie di misure di
                sicurezza per prevenire l'uso improprio, la perdita o l'alterazione delle informazioni che ci hai
                fornito. Tuttavia, poiché non possiamo garantire la sicurezza delle informazioni che ci fornisci, stai
                eseguendo l'accesso al nostro servizio a tuo rischio e pericolo.
            </p>
            <p>
                Cooperativa formativa scolastica Spoilers non è responsabile delle prestazioni dei siti web gestiti da
                terzi o delle tue interazioni con essi. Quando abbandoni questo sito web, ti consigliamo di rivedere le
                pratiche in materia di privacy degli altri siti web con cui interagisci e determinare l'adeguatezza di
                tali pratiche.
            </p>
            <center>
                <h4>Contatti</h4>
            </center>
            <p>Per qualsiasi domanda, puoi contattarci attraverso i seguenti canali:<br>
                <b>Nome</b>: Cooperativa formativa scolastica Spoilers<br>
                <b>Indirizzo</b>: Via Brigata Acqui, 15, 38122 Trento TN<br>
                <b>E-mail:</b> mail@spoilers.tn.it<br>
                <b>Sito web:</b> https://spoilers.tn.it</p>
            <center>
                <a class="card-link" href="/">Torna alla home page</a>
            </center>
        </div>
    </div>
</div>

{% include "footer.html" %}
</body>

</html>