{% include "head.html" %}

<body>

{% if logged == false %}
{% include "unlogged-navbar.html" %}
{% else %}
{% include "logged-navbar.html" %}
{% endif %}

<!-- CONTENUTI -->
<br/>
<center>
    <h1>Impostazioni</h1>
</center>

<!-- AVVISO DI GESTIONE SCOLASTICA -->
<div class="container" style="margin-top: 25px">
    <div class="card" style="">
        <div class="card-body">
            {% if user.gsuite == true %}
            {% include "settings-gsuite-account.html" %}
            {% else %}
            {% include "settings-normal-account.html" %}
            {% endif %}
        </div>
    </div>
</div>

<!-- ANTEPRIMA DEL PROFILO -->
<div class="container" style="margin-top: 25px">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <p>Anteprima del profilo.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-auto">
                    <img alt="ImmagineProfilo" src="{{user.photo}}?s=1024" class="rounded-circle"
                         style="width: 170px; box-shadow: 0 0 20px 7px rgba(0,0,0,0.1)">
                </div>
                <div class="col">
                    <h2>{{user.name}} {{user.surname}}</h2>
                    <p>Email utente: {{user.email}}</p>
                    <p>Identificativo utente: {{user.id}}</p>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container" style="margin-top: 25px">


    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Modifica profilo</h4>
            <div>
                <form action="/api/user/set/bio" method="post">
                    <div class="form-group">
                        <label>Dati anagrafici</label>
                        <input type="email" class="form-control" readonly placeholder="{{user.email}}">
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" readonly placeholder="{{user.name}}">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" readonly placeholder="{{user.surname}}">
                        </div>
                    </div>

                    <br>

                    <label>Imposta la tua biografia.</label>
                    <div class="form-group">
                        <input type="text" class="form-control" rows="3" id="biography"
                               placeholder="Sono Giacomo, ho 22 anni e vengo da Bologna....">
                    </div>

                    <!--bottone salva-->
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="float-right">
                                    <button type="button" class="btn btn-warning" data-toggle="modal"
                                            data-target="#saveButton">
                                        Salva modifiche
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="saveButton" data-backdrop="static" data-keyboard="false" tabindex="-1"
                         aria-labelledby="saveChanges" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="saveChanges">Salvare modifiche</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Sei sicuro di voler salvare le modifiche?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla
                                    </button>
                                    <a class="btn btn-warning">Sì</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




{% include "footer.html" %}
</body>

</html>