<!DOCTYPE html>
<html lang="it">

<head>

    <!-- FORMATTAZIONE DEFAULT -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Policy sulla Privacy| Bookfinder</title>
    <meta name="description" content="Termini e condizioni di utilizzo di Bookfinder aggiornati al 21 marzo 2022. Utilizzando bookfinder accetti i cosiddetti Termini e condizioni di utilizzo.">
    <meta name="keywords" content="Cookie, Utente, Privacy, Condizioni d'uso, Sito">


    <!-- FAVICONS E MANIFST -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-icon-180x180.png">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta property="og:type" content="website">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#343A40">

    <!-- REFERENZE BOOSTRAP -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>

    <!-- STILE GENERALE -->
    <link rel="stylesheet" href="assets/css/styles.css">

    <!-- STILE FOOTER E NAVBAR -->
    <link rel="stylesheet" href="assets/css/footer.css">
    <link rel="stylesheet" href="assets/css/navbar.css">
    <link rel="stylesheet" href="assets/css/dropdown.css">

    <!-- STILI PERSONALIZZATI PER OGNI PAGINA -->
    <link rel="stylesheet" href="assets/css/stile.css">
    <!--ESEMPIO-->

</head>

<body>

{{> ph-navbar }}



<!-- CONTENUTI -->
<div class="container" style="margin-top: 50px; margin-bottom: 100px">
    <div class="card">
        <div class="card-body">

            <body>
            <center>
                <h1>Termini e condizioni</h1>
                <p>Benvenuti a Bookfinder!</p>
            </center>
            <p>
                Questi termini e condizioni delineano le regole e le norme per l'utilizzo del sito web di Cooperativa Formativa Scolastica Spoilers, situato all'indirizzo <a target='_blank' href='https://tradici.com/index'>tradici.com/index</a>.
            </p>
            <p>
                Accedendo a questo sito web, si presume che tu accetti questi termini e condizioni. Non continuare a usare Bookfinder se non accetti di prendere tutti i termini e le condizioni indicate in questa pagina.
            </p>
            <center>
                <h3>Cookies</h3>
            </center>
            <p>
                Il sito web utilizza i cookie per aiutare a personalizzare la tua esperienza online. Accedendo a Bookfinder, hai accettato di utilizzare i cookie richiesti.
            </p>
            <p>
                Un cookie è un file di testo che viene collocato sul tuo hard disk dal server di una pagina web. I cookie non possono essere utilizzati per eseguire programmi o fornire virus al tuo computer. I cookie sono assegnati in modo univoco a voi e possono essere letti solo da un server web nel dominio che ha emesso il cookie a voi.
            </p>
            <p>
                Possiamo utilizzare i cookie per raccogliere, memorizzare e tenere traccia delle informazioni a fini statistici o di marketing per gestire il nostro sito web. Lei ha la possibilità di accettare o rifiutare i cookie opzionali. Ci sono alcuni cookie obbligatori che sono necessari per il funzionamento del nostro sito web. Questi cookie non richiedono il vostro consenso in quanto funzionano sempre. Si prega di tenere presente che accettando i cookie obbligatori, si accettano anche i cookie di terzi, che potrebbero essere utilizzati tramite servizi forniti da terzi se si utilizzano tali servizi sul nostro sito web, ad esempio, una finestra di visualizzazione video fornita da terzi e integrata nel nostro sito web.
            </p>
            <center>
                <h3>Licenza</h3>
            </center>
            <p>
                Se non diversamente specificato, cooperativa formativa scolastica spoiler e/o i suoi licenziatari possiedono i diritti di proprietà intellettuale per tutto il materiale su Bookfinder. Tutti i diritti di proprietà intellettuale sono riservati. Puoi accedere a questo da Bookfinder per il tuo uso personale soggetto alle restrizioni stabilite in questi termini e condizioni.
            </p>
            <p>
                Lei non deve:
            </p>
            <ul>
                <li>Copiare o ripubblicare materiale da Bookfinder</li>
                <li>Vendere, affittare o concedere in sub-licenza il materiale di Bookfinder</li>
                <li>Riprodurre, duplicare o copiare materiale da Bookfinder</li>
                <li>Ridistribuire il contenuto di Bookfinder</li>
                <li>Questo accordo ha inizio dalla data del presente documento.</li>
            </ul>
            <p>
                Parti di questo sito web offrono agli utenti l'opportunità di pubblicare e scambiare opinioni e informazioni in alcune aree del sito web. La Cooperativa Formativa Scolastica Spoilers non filtra, modifica, pubblica o rivede i Commenti prima della loro presenza sul sito web. I commenti non riflettono i punti di vista e le opinioni della Cooperativa Formativa Scolastica Spoilers, i suoi agenti e/o affiliati. I commenti riflettono i punti di vista e le opinioni della persona che li pubblica. Nella misura consentita dalle leggi applicabili, cooperativa formativa scolastica spoiler non è responsabile dei Commenti o di qualsiasi responsabilità, danno o spesa causata e/o subita in conseguenza di qualsiasi uso e/o pubblicazione e/o apparizione dei Commenti su questo sito web.
            </p>
            <p>
                Cooperativa Formativa Scolastica Spoilers si riserva il diritto di monitorare tutti i Commenti e di rimuovere qualsiasi Commento che possa essere considerato inappropriato, offensivo, o che causi la violazione di questi Termini e Condizioni.
            </p>
            <center>
                <h3>Lei garantisce e dichiara che</h3>
            </center>
            <p>Hai il diritto di pubblicare i Commenti sul nostro sito web e hai tutte le licenze e i consensi necessari per farlo;</p>
            <ul>
                <li>I Commenti non invadono alcun diritto di proprietà intellettuale, inclusi, senza limitazione, i diritti d'autore, i brevetti o i marchi di terze parti;</li>
                <li>I Commenti non contengono materiale diffamatorio, calunnioso, offensivo, indecente, o altrimenti illegale, che sia un'invasione della privacy.</li>
                <li>I Commenti non saranno utilizzati per sollecitare o promuovere affari o costumi o presentare attività commerciali o attività illegali.</li>
            </ul>
            <p>L'utente concede a cooperativa formativa scolastica spoiler una licenza non esclusiva per utilizzare, riprodurre, modificare e autorizzare altri a utilizzare, riprodurre e modificare qualsiasi dei tuoi Commenti in qualsiasi forma, formato o media.</p>
            <p>Collegamenti ipertestuali al nostro Contenuto:</p>
            <p>Le seguenti organizzazioni possono collegarsi al nostro sito web senza previa approvazione scritta:</p>
            <ul>
                <li>Agenzie governative;</li>
                <li>Motori di ricerca;</li>
                <li>Organizzazioni di notizie;</li>
                <li>I distributori di elenchi online possono collegarsi al nostro sito web nello stesso modo in cui si collegano ai siti web di altre aziende elencate; e</li>
                <li>Le aziende accreditate del sistema, eccetto le organizzazioni senza scopo di lucro, i centri commerciali di beneficenza e i gruppi di raccolta fondi di beneficenza che non possono creare collegamenti ipertestuali al nostro sito web.</li>
            </ul>
            <p>Queste organizzazioni possono collegarsi alla nostra home page, a pubblicazioni o ad altre informazioni del sito web a condizione che il collegamento: (a) non sia in alcun modo ingannevole; (b) non implichi falsamente la sponsorizzazione, l'avallo o l'approvazione della parte che effettua il collegamento e dei suoi prodotti e/o servizi; e (c) si adatti al contesto del sito della parte che effettua il collegamento.</p>
            <p>Possiamo considerare e approvare altre richieste di link dai seguenti tipi di organizzazioni:</p>
            <ul>
                <li>fonti di informazione per consumatori e/o imprese comunemente conosciute;</li>
                <li>siti di comunità dot.com;</li>
                <li>associazioni o altri gruppi che rappresentano enti di beneficenza;</li>
                <li>distributori di elenchi online;</li>
                <li>portali internet;</li>
                <li>società di contabilità, legge e consulenza; e</li>
                <li>istituzioni educative e associazioni commerciali.</li>
            </ul>
            <p>Approveremo le richieste di link da queste organizzazioni se decidiamo che: (a) il link non ci farebbe apparire sfavorevolmente a noi stessi o alle nostre aziende accreditate; (b) l'organizzazione non ha precedenti negativi con noi; (c) il beneficio per noi dalla visibilità del collegamento ipertestuale compensa l'assenza di cooperativa formativa scolastica spoiler; e (d) il link è nel contesto di informazioni generali sulle risorse.</p>
            <p>Queste organizzazioni possono collegarsi alla nostra home page a condizione che il link: (a) non sia in alcun modo ingannevole; (b) non implichi falsamente la sponsorizzazione, l'avallo o l'approvazione della parte che effettua il link e dei suoi prodotti o servizi; e (c) si inserisca nel contesto del sito della parte che effettua il link.</p>
            <p>Se sei una delle organizzazioni elencate nel precedente paragrafo 2 e sei interessato a collegarti al nostro sito, devi informarci inviando una e-mail alla Cooperativa Formativa Scolastica Spoilers. Si prega di includere il vostro nome, il nome della vostra organizzazione, le informazioni di contatto così come l'URL del vostro sito, una lista di eventuali URL da cui intendete collegarvi al nostro sito, e una lista degli URL del nostro sito a cui vorreste collegarvi. Attendere 2-3 settimane per una risposta.</p>
            <p>Le organizzazioni approvate possono creare collegamenti ipertestuali al nostro sito web come segue:</p>
            <ul>
                <li>Usando il nostro nome aziendale; o</li>
                <li>Con l'uso del localizzatore di risorse uniformi a cui si è collegati; o</li>
                <li>Utilizzando qualsiasi altra descrizione del nostro sito web oggetto del link che abbia senso nel contesto e nel formato del contenuto del sito della parte che effettua il link.</li>
            </ul>
            <p>Nessun uso del logo di Cooperativa Formativa Scolastica Spoiler o di altre opere d'arte sarà consentito per il collegamento in assenza di un accordo di licenza del marchio.</p>
            <center>
                <h4>Responsabilità per i contenuti</h4>
            </center>
            <p>Non saremo ritenuti responsabili per qualsiasi contenuto che appare sul tuo sito web. Lei accetta di proteggerci e difenderci da tutti i reclami che vengono sollevati sul suo sito web. Nessun link dovrebbe apparire su alcun sito web che possa essere interpretato come diffamatorio, osceno, o criminale, o che infranga, violi in altro modo, o sostenga la violazione o altra violazione di qualsiasi diritto di terze parti.</p>
            <center>
                <h4>Riserva di diritti</h4>
            </center>
            <p>Ci riserviamo il diritto di richiedere la rimozione di tutti i link o di qualsiasi link particolare al nostro sito web. L'utente si impegna a rimuovere immediatamente tutti i link al nostro Sito web su richiesta. Ci riserviamo inoltre il diritto di modificare questi termini e condizioni e la sua politica di collegamento in qualsiasi momento. Collegandosi continuamente al nostro sito web, l'utente accetta di essere vincolato e di seguire questi termini e condizioni di collegamento.</p>
            <center>
                <h4>Rimozione di link dal nostro sito web</h4>
            </center>
            <p>Se trovate un qualsiasi link sul nostro sito web che è offensivo per qualsiasi motivo, siete liberi di contattarci e informarci in qualsiasi momento. Prenderemo in considerazione le richieste di rimozione dei link, ma non siamo obbligati a farlo o a rispondere direttamente all'utente.</p>
            <p>Non garantiamo che le informazioni su questo sito web siano corrette. Non garantiamo la sua completezza o accuratezza, né promettiamo di assicurare che il sito web rimanga disponibile o che il materiale sul sito web sia tenuto aggiornato.</p>
            <center>
                <h4>Disclaimer</h4>
            </center>
            <p>Nella misura massima consentita dalla legge applicabile, escludiamo tutte le dichiarazioni, garanzie e condizioni relative al nostro sito web e l'uso di questo sito web. Nulla in questo disclaimer:</p>
            <ul>
                <li>limitare o escludere la nostra o la vostra responsabilità per morte o lesioni personali;</li>
                <li>limitare o escludere la nostra o la vostra responsabilità per frode o dichiarazione fraudolenta;</li>
                <li>limitare una qualsiasi delle nostre o vostre responsabilità in qualsiasi modo che non è consentito dalla legge applicabile; o</li>
                <li>escludere qualsiasi nostra o vostra responsabilità che non può essere esclusa in base alla legge applicabile.</li>
            </ul>
            <p>Le limitazioni e i divieti di responsabilità stabiliti in questa sezione e altrove nel presente disclaimer: (a) sono soggetti al paragrafo precedente; e (b) regolano tutte le responsabilità derivanti dal disclaimer, comprese le responsabilità derivanti dal contratto, in torto, e per violazione del dovere legale.</p>
            <p>Finché il sito web e le informazioni e i servizi sul sito web sono forniti gratuitamente, non saremo responsabili per qualsiasi perdita o danno di qualsiasi natura.</p>
            <center>
                <a class="card-link" href="index">Torna alla home page</a>
            </center>
        </div>
    </div>
</div>


<!-- PLACEHOLDER DEL FOOTER -->
{{> footer }}

</body>

</html>