{{> head}}

<body>

{{> ph-navbar }}

<!-- CONTENUTI -->
<div class="container">
    <div class="card" style="margin-top: 20px; margin-bottom: 20px;" style=" margin-bottom: 20px;">
        <div class="card-body">
            <center>
                <h3 class="card-title">Chi siamo?</h3>
                <p>Siamo degli studenti dell'istituto "I.T.T. Buonarroti" e siamo al nostro quarto anno dell'indirizzo
                    di informatica, abbiamo fondato la cooperativa "Spoilers" durante l'anno scolastico 2020-2021 per un
                    progetto di alternanza scuola-lavoro, il nostro primo progetto riguardava un podcast in materia
                    informatica, il progetto è andato a buon fine ed il 27 maggio 2021 abbiamo pubblicato il nostro
                    podcast dalla durata di 7 minuti e con come argomento perno l'IoT, ora nel 2022, grazie alla
                    cooperativa formativa scolastica, c’è stata offerta un’opportunità che non potevamo farci scappare,
                    ossia quella di creare questo sito riguardante la compavendita dei libri.
                    <br></br>Abbiamo pensato di realizzare un sito del quale possano beneficiare tutti gli studenti in
                    modo da rendere più comoda quella che è l'operazione dell'acquisto di libri usati senza mettere
                    tasse di vario tipo in mezzo.<br></br> Il sito riguarda (per ora) prettamente l'istituto di
                    partenza, ossia l'"I.T.T. Buonarroti".
                </p>
            </center>
        </div>
    </div>
</div>


<div class="team-boxed">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 item">
                <div class="box" style="margin-bottom: 0px;">
                    <img class="rounded-circle" alt="Coglione" src="assets/img/avatar/masala.webp">
                    <h3 class="name">Francesco Masala</h3>
                    <p class="title" style="color: #758595">Leader Programmazione</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 item">
                <div class="box" style="margin-bottom 0px;">
                    <img class="rounded-circle" alt="Testa Pelata" src="assets/img/avatar/berti.webp">
                    <h3 class="name">Giacomo Berti</h3>
                    <p class="title" style="color: #758595">Leader Design</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 item">
                <div class="box" style="margin-bottom: absolute;">
                    <img class="rounded-circle" alt="Chen" src="assets/img/avatar/chen.webp">
                    <h3 class="name">Qiang Chen</h3>
                    <p class="title" style="color: #758595">Leader Documentazione</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 item">
                <div class="box" style="margin-bottom:0px;">
                    <img class="rounded-circle" alt="Loss" src="assets/img/avatar/loss.webp">
                    <h3 class="name">Leonardo Loss</h3>
                    <p class="title" style="color: #758595">Programmatore</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 item">
                <div class="box" style="margin-bottom: 0px;">
                    <img class="rounded-circle" alt="Pozzi" src="assets/img/avatar/pozzi.webp">
                    <h3 class="name">Roberto Pozzi</h3>
                    <p class="title" style="color: #758595">Programmatore</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 item">
                <div class="box" style="margin-bottom: absolute;">
                    <img class="rounded-circle" alt="Sottovia" src="assets/img/avatar/sottovia.webp">
                    <h3 class="name">Mirco Sottovia</h3>
                    <p class="title" style="color: #758595">Programmatore</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 item">
                <div class="box" style="margin-bottom: absolute;">
                    <img class="rounded-circle" alt="Cristodoretti" src="assets/img/avatar/cristoforetti.webp">
                    <h3 class="name" style="font-size: 30px;">Alessio Cristoforetti</h3>
                    <p class="title" style="color: #758595">Programmatore</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 item">
                <div class="box" style="margin-bottom: absolute;">
                    <img class="rounded-circle" alt="Furlan" src="assets/img/avatar/furlan.webp">
                    <h3 class="name" style="font-size: 30px;">Riccardo Furlan</h3>
                    <p class="title" style="color: #758595">Programmatore</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 item">
                <div class="box" style="margin-bottom: absolute;">
                    <img class="rounded-circle" alt="Vargas" src="assets/img/avatar/vargas.webp">
                    <h3 class="name" style="font-size: 30px;">Kevin Vargas</h3>
                    <p class="title" style="color: #758595">Programmatore</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 item">
                <div class="box" style="margin-bottom: absolute;">
                    <img class="rounded-circle" alt="Zamboni" src="assets/img/avatar/zamboni.webp">
                    <h3 class="name">Lorenzo Zamboni</h3>
                    <p class="title" style="color: #758595">Designer</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 item">
                <div class="box" style="margin-bottom: absolute;">
                    <img class="rounded-circle" alt="Lunelli" src="assets/img/avatar/lunelli.webp">
                    <h3 class="name">Matteo Lunelli</h3>
                    <p class="title" style="color: #758595">Designer</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 item">
                <div class="box" style="margin-bottom: absolute;">
                    <img class="rounded-circle" alt="Sidkir" src="assets/img/avatar/sidkir.webp">
                    <h3 class="name">Amar Sidkir</h3>
                    <p class="title" style="color: #758595">Designer</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 item">
                <div class="box" style="margin-bottom: absolute;">
                    <img class="rounded-circle" alt="Buso" src="assets/img/avatar/buso.webp">
                    <h3 class="name" style="font-size: 30px;">Michael Buso</h3>
                    <p class="title" style="color: #758595">Designer</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 item">
                <div class="box" style="margin-bottom: absolute;">
                    <img class="rounded-circle" alt="Mancosu" src="assets/img/avatar/mancosu.webp">
                    <h3 class="name">Yuri Mancosu</h3>
                    <p class="title" style="color: #758595">Designer</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 item">
                <div class="box" style="margin-bottom: absolute;">
                    <img class="rounded-circle" alt="Cassata" src="assets/img/avatar/cassata.webp">
                    <h3 class="name">Gabriele Cassata</h3>
                    <p class="title" style="color: #758595">Designer</p>
                </div>
            </div>
            <div class="col col-md-6 col-lg-6 item">
                <div class="box" style="margin-bottom: absolute;">
                    <img class="rounded-circle" alt="Dalri" src="assets/img/avatar/dalri.webp">
                    <h3 class="name">Tiziano Dalri</h3>
                    <p class="title" style="color: #758595">Documentazione</p>
                </div>
            </div>
            <div class="col col-md-6 col-lg-6 item">
                <div class="box" style="margin-bottom: absolute;">
                    <img class="rounded-circle" alt="Berasi" src="assets/img/avatar/berasi.webp">
                    <h3 class="name" style="font-size: 30px;">Damiano Berasi</h3>
                    <p class="title" style="color: #758595">Documentazione</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- PLACEHOLDER DEL FOOTER -->
{{> footer}}

</script>
</body>

</html>